<template name="messageSubmit">
  <div class="compose-new col-md-6 col-md-offset-3">
    <form name="message" class="form">
      <div class="form-group {{errorClass 'body'}}" id="compose">
        <div class="controls">
          <div class="col-md-9">
            <textarea name="body" id="new-message" class="form-control" placeholder="New message"></textarea>
            <span class="help-block">{{errorMessage 'body'}}</span>
          </div>
          <div class="col-md-3">
            <button type="submit" id="send" class="btn btn-primary">Send</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>